<VirtualHost *:80>
    ServerAdmin ubuntu@localhost
    DocumentRoot /var/www/html

    ProxyPreserveHost On

    # 로드 밸런서 설정
    <Proxy "balancer://mycluster">
        BalancerMember http://{{ groups['was'][0] }}:8080
        BalancerMember http://{{ groups['was'][1] }}:8080
        ProxySet lbmethod=byrequests
    </Proxy>

    ProxyPass / balancer://mycluster/
    ProxyPassReverse / balancer://mycluster/

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
